<div class="jumbotron space">
    <h1 class="display-4">Welcome {{#if user}} {{user.name}} {{user.lastname}} {{/if}}!</h1>
    <p class="lead">Share Ideas, Comment On Others, Work Together, Be Inspired!</p>
    <hr class="my-4">
    <h3 class="text-center my-3">Most Upvoted Ideas</h3>
    <div class="row">
        {{#each ideas}}
        <div class="col-sm">
            <div class="card border-secondary mb-3">
                <div class="card-header">{{topic}}</div>
                <div class="card-body">
                    <h4 class="card-title">{{title}}</h4>
                    <p class="card-text">{{body}}</p>
                    <a href="/ideas/show/{{id}}" class="card-link">Read More</a>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
    {{#if user}}
    {{else}}
    <p class="text-center">Seems Interesting? What Are You Waiting for? Join Now Is Free! <a
            href="/auth/register">Register</a> Or <a href="auth/login">Login</a></p>
    {{/if}}
    <p class="text-center">Want To Read More Ideas? Click <a href="/ideas">Here</a></p>
</div>

<style>
    .space {
        margin-bottom: 75px;
    }
</style>